-# Dudes, can't you really not cleanup your views and make them all-haml??
.page-header
  %h1 Dashboard
.row
  = render partial: 'common/panel',locals: {message: t('customers.index.this_month'), heading:  @customers.from_month(Time.now).count, favicon: 'users',class_color: 'primary', link: customers_path}
  = render partial: 'common/panel',locals: {message: t('quotations.index.this_month'), heading:  @quotations.from_month(Time.now).count, favicon: 'usd',class_color: 'green', link: quotations_path}
  / # = render partial: 'common/panel',locals: {message: t('appointments.index.this_month'), heading:  @appointments.from_month(Time.now).count, favicon: 'clock-o',class_color: 'yellow', link: appointments_path}
  = render partial: 'common/panel',locals: {message: t('interactions.index.this_month'), heading:  @interactions.from_month(Time.now).count, favicon: 'comment',class_color: 'red', link: interactions_path}

  / Widgets go here
.row
  / made responsive tab zone
  .col-lg-8
    %ul.nav.nav-tabs{role: :tablist}
      %li.active{role: :presentation}
        = link_to((t 'appointments.today'), '#today', role: 'tab', aria: {controls: :home}, data: {toggle: :tab})
      %li{role: :presentation}
        = link_to((t 'appointments.upcoming'), '#upcoming', role: 'tab', aria: {controls: :profile}, data: {toggle: :tab})
      %li{role: :presentation}
        = link_to((t 'appointments.past'), '#past', role: 'tab', aria: {controls: :messages}, data: {toggle: :tab})
      %li{role: :presentation}
        = link_to((t 'appointments.all'), '#all', role: 'tab', aria: {controls: :messages}, data: {toggle: :tab})
    .tab-content
  .col-lg-4
    / Widgets for demo purposes only
    %div{class: "panel panel-default"}
      %div{class: "panel-heading"}
        %i{class: "fa fa-bell fa-fw"}
        Notifications Panel
      %div{class: "panel-body"}
        %div{class: "list-group"}
          -#TODO will change this to be notificacions no info
          = render partial: 'panel_list_element', locals: {left_text: t('customers.index.this_month'), right_text: t('count_new', count: @customers.from_month(Date.today).count), icon: 'users', link: customers_path}
          = render partial: 'panel_list_element', locals: {left_text: t('quotations.index.this_month'), right_text: t('count_new', count: @quotations.from_month(Date.today).count), icon: 'usd', link: quotations_path}
          / # = render partial: 'panel_list_element', locals: {left_text: t('appointments.index.this_month'), right_text: t('count_new', count: @appointments.from_month(Date.today).count), icon: 'clock-o', link: appointments_path}


    %div{class: "panel panel-default"}
      %div{class: "panel-heading"}
        %i{class: "fa fa-bar-chart-o fa-fw"}
        Donut Chart Example
      %div{class: "panel-body"}
        <div id="morris-donut-chart"><svg height="377" version="1.1" width="271" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#0b62a4" d="M135.5,274.6666666666667A83.66666666666667,83.66666666666667,0,0,0,214.6604557049884,218.0875130584127" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#0b62a4" stroke="#ffffff" d="M135.5,277.6666666666667A86.66666666666667,86.66666666666667,0,0,0,217.4988784195099,219.05877846688168L249.5099790332801,230.0124939068374A120.5,120.5,0,0,1,135.5,311.5Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#3980b5" d="M214.6604557049884,218.0875130584127A83.66666666666667,83.66666666666667,0,0,0,60.46273174881313,153.99298060488343" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#3980b5" stroke="#ffffff" d="M217.4988784195099,219.05877846688168A86.66666666666667,86.66666666666667,0,0,0,57.772152409129134,152.66603568633343L22.94409762321969,135.48947090732514A125.5,125.5,0,0,1,254.2406835574826,231.63126958761904Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#679dc6" d="M60.46273174881313,153.99298060488343A83.66666666666667,83.66666666666667,0,0,0,135.47371534189742,274.6666625378822" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#679dc6" stroke="#ffffff" d="M57.772152409129134,152.66603568633343A86.66666666666667,86.66666666666667,0,0,0,135.47277286411685,277.66666238983817L135.46214380914708,311.4999940535634A120.5,120.5,0,0,1,27.428396522693006,137.70104577157514Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="135.5" y="181" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;" font-weight="800" transform="matrix(1.5055,0,0,1.5055,-68.4914,-95.7978)" stroke-width="0.6642181274900397"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales</tspan></text><text x="135.5" y="201" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;" transform="matrix(1.7431,0,0,1.7431,-100.6724,-143.4097)" stroke-width="0.5737051792828686"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan></text></svg></div>
        <a href="#" class="btn btn-default btn-block">View Details</a>
.row
  / Other shit goes here
