.page-header
  %h1 Dashboard
  -# translation pending
.row
  %h4 For the month of current_month:
  -# let's change the message to the class name, and group it with the header. Rob.
  = render partial: 'common/panel',locals: {message: t('customers.customer'), heading:  @customers.from_month(Time.now).count, favicon: 'users',class_color: 'primary', link: customers_path}
  = render partial: 'common/panel',locals: {message: t('quotations.index.this_month'), heading:  @quotations.from_month(Time.now).count, favicon: 'usd',class_color: 'green', link: quotations_path}
  = render partial: 'common/panel',locals: {message: t('appointments.index.this_month'), heading:  @appointments.from_month(Time.now).count, favicon: 'clock-o',class_color: 'yellow', link: appointments_path}
  = render partial: 'common/panel',locals: {message: t('interactions.index.this_month'), heading:  @interactions.from_month(Time.now).count, favicon: 'comment',class_color: 'red', link: interactions_path}
.row
  .col-lg-8
    %ul.nav.nav-tabs{role: :tablist}
      %li.active{role: :presentation}
        = link_to((t 'appointments.today'), '#today', role: 'tab', aria: {controls: :home}, data: {toggle: :tab})
      %li{role: :presentation}
        = link_to((t 'appointments.upcoming'), '#upcoming', role: 'tab', aria: {controls: :profile}, data: {toggle: :tab})
      %li{role: :presentation}
        = link_to((t 'appointments.past'), '#past', role: 'tab', aria: {controls: :messages}, data: {toggle: :tab})
      %li{role: :presentation}
        = link_to((t 'appointments.all'), '#all', role: 'tab', aria: {controls: :messages}, data: {toggle: :tab})
    .tab-content
  .col-lg-4
    %div{class: "panel panel-default"}
      %div{class: "panel-heading"}
        %i{class: "fa fa-bell fa-fw"}
        Notifications Panel
      %div{class: "panel-body"}
        %div{class: "list-group"}
          -#TODO will change this to be notificacions no info
          = render partial: 'panel_list_element', locals: {left_text: t('customers.index.this_month'), right_text: t('count_new', count: @customers.from_month(Date.today).count), icon: 'users', link: customers_path}
          = render partial: 'panel_list_element', locals: {left_text: t('quotations.index.this_month'), right_text: t('count_new', count: @quotations.from_month(Date.today).count), icon: 'usd', link: quotations_path}
          = render partial: 'panel_list_element', locals: {left_text: t('appointments.index.this_month'), right_text: t('count_new', count: @appointments.from_month(Date.today).count), icon: 'clock-o', link: appointments_path}
