= simple_form_for @interaction, :html => { :class => 'form-horizontal' } do |f|
  = f.input :kind
  = f.input :observation
  = f.input :date
  = f.input :time
  = f.input :customer_id, input_html: {value: @customer.id},as: :hidden
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), request.referrer, :class => 'btn btn-default'