- model_class = Interaction
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:kind)
      %th= model_class.human_attribute_name(:observation)
      %th= model_class.human_attribute_name(:date)
      %th= model_class.human_attribute_name(:time)
      %th= model_class.human_attribute_name(:customer_id)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - interactions.each do |interaction|
      %tr
        %td= interaction.kind
        %td= ul_list interaction.observation_list
        %td= l interaction.date, format: :human_date
        %td= l interaction.time, format: :human_time
        -#add a column to display salesman maybe? atte llamas
        %td= link_to interaction.customer.fullname, customer_path(interaction.customer)
        %td
          = link_to interaction_path(interaction), :class => 'btn btn-primary btn-circle', data: { toggle: 'tooltip', placement: :bottom }, title: 'Show' do
            %i{class: 'fa fa-eye fa-fw'}
          = link_to edit_interaction_path(interaction,customer_id: interaction.customer_id), :class => 'btn btn-default btn-circle', data: { toggle: 'tooltip', placement: :bottom }, title: 'Edit' do
            %i{class: 'fa fa-pencil fa-fw'}
          = link_to interaction_path(interaction,customer_id: interaction.customer_id), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-circle', data: { toggle: 'tooltip', placement: :bottom }, title: 'Delete' do
            %i{class: 'fa fa-trash fa-fw'}
