- model_class = Interaction
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
  .row
    .col-md-3
      .panel.panel-default
        .panel-heading
          = t('interactions.index.count')
        .panel-body
          // All interactions will be displayed by kind
          = t('interactions.index.all', count: Interaction.all.count)
    .col-md-3
      .panel.panel-default
        .panel-heading
          = 'Salesman with more interactions'
        .panel-body
          -#verify if it exist first
          = @most_proactive.name
= render partial: 'interactions', locals: {interactions: @interactions}
