- model_class = User
.page-header
  %h1=t '.title', :default => model_class.header_name

.row
  = render partial: 'common/panel', locals: {message: t('interactions.index.total'), heading: @interactions.count, favicon: 'comments-o' }
  = render partial: 'common/panel', locals: {message: t('interactions.index.this_month'), heading: @interactions.from_month(Time.now).count, favicon: 'calendar-check-o'}
  = render partial: 'common/panel', locals: {message: t('quotations.index.count'), heading: @quotations.count, favicon: 'usd', class_color: 'green'}
  = render partial: 'common/panel', locals: {message: t('quotations.index.this_month'), heading: @quotations.from_month(Time.now).count, favicon: 'calendar-check-o', class_color: 'green'}

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @user.name
%p
  %strong= model_class.human_attribute_name(:phone) + ':'
  %br
  = @user.phone
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @user.email



= link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
