- model_class = Customer
.page-header
  %h1
    =t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to new_customer_path, :class => 'btn btn-primary pull-right' do
      %span{class: 'fa fa-users'}
      = t('.new', :default => t("helpers.links.new"))
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:fullname)
      %th= model_class.human_attribute_name(:gender)
      %th= t('customers.register_date')
      %th= model_class.human_attribute_name(:appointments)
      %th= model_class.human_attribute_name(:interactions)
      %th= t '.actions', default: t("helpers.actions")
  %tbody#customers
    = render partial: 'customer',collection: @customers
