= simple_form_for @quotation, :html => { :class => 'form-horizontal' } do |f|
  = f.input :customer_id, input_html: {value: @customer.id},as: :hidden
  = f.input :lot_id,collection: Lot.all.collect { |lot| [lot.to_s,lot.id]}
  = f.input :square_meters
  = f.input :unit_price
  = f.input :offer_id, collection: Offer.actives(Date.today).collect { |offer| [offer.to_s,offer.id ]}
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), request.referrer, :class => 'btn btn-default'
