= simple_form_for @quotation, :html => { :class => 'form-horizontal' } do |f|
  = f.input :customer_id, input_html: {value: @customer.id},as: :hidden
  = f.input :square_meters
  = f.input :price
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), quotations_path(customer_id: @customer.id), :class => 'btn btn-default'
