- model_class = Quotation
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= render partial: 'common/panel',locals: {message: t('quotations.index.count'), heading: t('quotations.index.all', count: Quotation.all.count),favicon: 'usd'}
= render partial: 'common/panel',locals: {message: t('quotations.index.this_month'), heading: t('quotations.index.all', count: Quotation.from_month(Time.now).count),favicon: 'usd',class_color: 'success'}

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:customer_id)
      %th= model_class.human_attribute_name(:salesman_id)
      %th= model_class.human_attribute_name(:square_meters)
      %th= model_class.human_attribute_name(:unit_price)
      %th= model_class.human_attribute_name(:full_price)
      %th= model_class.human_attribute_name(:valid_until)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @quotations.each do |quotation|
      - valid = quotation.still_valid? Date.today
      %tr{class: "#{'danger' unless valid}"}
        %td= link_to quotation.customer.fullname ,customer_url(quotation.customer)
        %td= link_to quotation.salesman.name ,user_path(quotation.salesman)
        %td= quotation.square_meters
        %td= quotation.unit_price
        %td= quotation.full_price
        %td= valid ? l(quotation.valid_until,format: :human_date): t('quotations.invalid')
        %td
          = link_to t('.show',default: t("helpers.links.show")), quotation_path(quotation),class: 'btn btn-primary btn-xs'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_quotation_path(quotation,customer_id: quotation.customer_id), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), quotation_path(quotation), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

