- model_class = Lot
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:number)
      %th= model_class.human_attribute_name(:block)
      %th= model_class.human_attribute_name(:stage)
      %th= model_class.human_attribute_name(:area)
      %th= model_class.human_attribute_name(:status)
      %th= model_class.human_attribute_name(:perimeter_points)
      %th= model_class.human_attribute_name(:perimeter_lengths)
      %th= model_class.human_attribute_name(:active)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @lots.each do |lot|
      %tr
        %td= lot.number
        %td= lot.block
        %td= lot.stage
        %td= lot.area
        %td= lot.status
        %td= lot.perimeter_points
        %td= lot.perimeter_lengths
        %td= lot.active
        %td
          = link_to t('.show', :default => t("helpers.links.show")), lot_path(lot), :class => 'btn btn-primary btn-xs'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_lot_path(lot), :class => 'btn btn-default btn-xs' if can? :update, lot
          = link_to t('.destroy', :default => t("helpers.links.destroy")), lot_path(lot), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, lot

= link_to t('.new', :default => t("helpers.links.new")), new_lot_path, :class => 'btn btn-primary'
