= simple_form_for @appointment, :html => { :class => 'form-horizontal' } do |f|
  = f.input :date
  = f.input :time
  = f.input :place
  = f.input :customer_id, as: :hidden
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), request.referrer, :class => 'btn btn-default'
