%h3
  %i.fa.fa-calendar.fa-fw
  = (t 'appointments.appointment', count: "other").humanize + (' ' + t('appointments.with') + ' ' + @customer.fullname) unless @customer.nil?
= month_calendar events: @appointments do |date, appointments|
  - if !appointments.empty?
    = button_to date.day, {controller: 'appointments', action: 'index', date: date, customer_id: (@customer.id unless @customer.nil?)}, method: 'get', remote: true
  -else
    %p.empty-day
      = date.day
#appointments-list
  = render partial: "appointments", locals: { date: Date.today, appointments: @date_appointments}