%h3
  %i.fa.fa-calendar.fa-fw
  = (t 'appointments.appointment', count: "other").humanize
= month_calendar events: @appointments do |date, appointments|
  - if !appointments.empty?
    = button_to date.day, {controller: 'users', action: 'appointments', id: current_user.id, date: date}, method: 'get', remote: true
  -else
    %p.empty-day
      = date.day
#appointments-list
  = render partial: "users/appointments/appointments", locals: { date: Date.today, appointments: current_user.appointments_of(Date.today)}