%nav.navbar.navbar-default.navbar-static-top{role: :navigation}
  .navbar-header
    %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: ".navbar-responsive-collapse"}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'SACC', root_path, class: 'navbar-brand'
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav.navbar-top-links
      %li= link_to Lot.model_name.human.pluralize.titleize,lots_path
      %li= link_to User.model_name.human.pluralize.titleize,users_path
      %li= link_to Customer.model_name.human.pluralize.titleize,customers_path
    -if current_user
      %ul{class: 'nav navbar-top-links navbar-right'}
        %li
          = link_to current_user.name, current_user
        %li
          = link_to destroy_user_session_path, method: :delete  ,data: { 'toggle' => 'tooltip' ,'placement' => 'bottom' },'title' => t('sign_out') do
            %span{class: 'fa fa-sign-out'}
%div{class: 'navbar-default sidebar'}

